torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126
numpy==1.24.3
opencv-python==4.10.0
matplotlib==3.7.1
pillow==11.1.0
pyyaml==6.0
requests==2.32.3
scipy==1.10.1
tqdm==4.67.1
psutil==5.9.5
py-cpuinfo==9.0.0
pandas==2.0.1
seaborn==0.13.2
ultralytics-thop==2.0.14
graphviz==0.20.3
ultralytics==8.3.111 